<div class="container-lg container-sm">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2 class="m-3">{{titulo}} experiencia</h2>
        <!-- inicio col -->
        <div class="col-sm-12">
          <div class="form-group">
            <label>Empresa</label>
            <input
              type="text"
              formControlName="empresa"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['empresa'].errors }"
            />
            <div *ngIf="submitted && f['empresa'].errors" class="invalid-feedback">
              <div *ngIf="f['empresa'].errors['required']">Este campo es obligatorio</div>
            </div>
          </div>
      
          <div class="form-group">
            <label>Puesto</label>
            <input
              type="text"
              formControlName="puesto"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['puesto'].errors }"
            />
            <div *ngIf="submitted && f['puesto'].errors" class="invalid-feedback">
              <div *ngIf="f['puesto'].errors['required']">Este campo es obligatorio</div>
            </div>
          </div>
    
          <div class="form-group">
            <label>Ubicacion</label>
            <input
              type="text"
              formControlName="ubicacion"
              class="form-control"
            />
          </div>

          <div class="form-group">
            <label>Fecha de inicio</label>
            <input
              type="date"
              formControlName="fechaInicio"
              class="form-control"
            />
          </div>
    
          <div class="form-group">
            <label>Fecha de finalización</label>
            <input
              type="date"
              formControlName="fechaFin"
              class="form-control"
            />
          </div>


          <div class="botones form-group">
            <button type="submit" class="btn btn-lg">Guardar</button>
            <button
              type="button"
              routerLink="/"
              class="btn btn-lg"
            >
              Cancelar
            </button>
          </div>
        </div>
        <!-- fin col -->
      

      
  
      
    </form>
  </div>
