<div class="container">
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1 style="display: flex; justify-content: center;">Editar perfil</h1>
      <div class="row form-container">

        <div class="col cont">
          <!-- nombre -->
          <div class="form-group">
            <label for="">Nombre</label>
          <input
            type="text"
            formControlName="nombre"
            class="form-control"
            placeholder="Nombre"
            [ngClass]="{ 'is-invalid': submitted && f['nombre'].errors }"
          />
          <div *ngIf="submitted && f['nombre'].errors" class="invalid-feedback">
            <div *ngIf="f['nombre'].errors['required']">Este campo es obligatorio</div>
          </div>
          </div>
          
          <!--  -->
          
          <!-- apellido -->
          <div class="form-group">
            <label for="">Apellido</label>
            <input
            type="text"
            formControlName="apellido"
            class="form-control"
            placeholder="Apellido"
            [ngClass]="{ 'is-invalid': submitted && f['apellido'].errors }"
          />
          <div *ngIf="submitted && f['apellido'].errors" class="invalid-feedback">
            <div *ngIf="f['apellido'].errors['required']">Este campo es obligatorio</div>
          </div>
          </div>
          
          <!--  -->
          
          <!-- profesion -->
          <div class="form-group">
            <label for="">Profesión</label>
            <input
            type="text"
            formControlName="profesion"
            class="form-control"
            placeholder="Profesion"
            [ngClass]="{ 'is-invalid': submitted && f['profesion'].errors }"
          />
          <div *ngIf="submitted && f['profesion'].errors" class="invalid-feedback">
            <div *ngIf="f['profesion'].errors['required']">Este campo es obligatorio</div>
          </div>
        </div>
          </div>
          
        
        <div class="col cont">
          <!-- git hub -->
          <div class="form-group">
            <label for="">Git Hub</label>
            <input
            type="text"
            formControlName="github"
            class="form-control"
            placeholder="Link a GitHub"
          />
          </div>
          

          <!-- linkedin -->
          <div class="form-group">
            <label for="">LinkedIn</label>
            <input
            type="text"
            formControlName="linkedin"
            class="form-control"
            placeholder="Link a LinkedIn"
          />
          </div>
          

          <!-- acerca de -->
          <div class="form-group">
            <label for="">Sobre mi</label>
            <textarea cols="30" rows = "3" formControlName="info"
            placeholder="Sobre mi...">
          </textarea>
          </div>
          

          
        </div>
      </div>

        
      

      
      
  
      <div class="botones">
        <button type="submit" class="btn">Guardar</button>
        <button
          type="button"
          routerLink="/"
          class="btn">
          Cancelar
        </button>
      </div>


    </form>
  </div>
</div>

  

  <!-- <div class="form-group">
    <label>Imagen de portada</label>
    <input
      type="file"
      class="form-control"
      [ngModel]="imgPortada"
      (change)="uploadImagePortada($event)"
      accept=".jpg, .png, .jpeg"
    />
  </div>

  <img [src]="imgPortada" alt="" width="200px">

  <button type="button" (click)="saveImgPortada()">Guardar imagen de portada</button> -->