<app-header></app-header>
<div class="container">
    <app-banner
        [usuario]="usuario"
        [isLogged]="isLogged">
        </app-banner>
    <div class="row">
        <div class="col-8">
            <app-educacion>
            </app-educacion>
            
            <app-experiencia>    
            </app-experiencia>

            <app-skill></app-skill>
        </div>
        <div class="col">
            <app-about-me
                [usuario]="usuario">
            </app-about-me>
            <app-proyecto>
            </app-proyecto>
        </div>
    </div>

</div>







