<div class="container-lg container-sm">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2 class="m-3">{{titulo}} educación</h2>
      <div class="col-sm-12">
        
          <!-- institucion -->
        <div class="form-group">
          <label>Institucion</label>
          <input
            type="text"
            formControlName="institucion"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['institucion'].errors }"
          />
          <div *ngIf="submitted && f['institucion'].errors" class="invalid-feedback">
            <div *ngIf="f['institucion'].errors['required']">Este campo es obligatorio</div>
          </div>
        </div>
        <!-- titulo -->
  
        <div class="form-group">
          <label>Titulo</label>
          <input
            type="text"
            formControlName="titulo"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['titulo'].errors }"
          />
          <div *ngIf="submitted && f['titulo'].errors" class="invalid-feedback">
            <div *ngIf="f['titulo'].errors['required']">Este campo es obligatorio</div>
          </div>
        </div>


        
          <!-- fecha de inicio -->
        <div class="form-group">
          <label>Fecha de inicio</label>
          <input
            type="date"
            formControlName="fechaInicio"
            class="form-control"
          />
        </div>
        <!-- fecha de fin -->
        <div class="form-group">
          <label>Fecha de finalización</label>
          <input
            type="date"
            formControlName="fechaFin"
            class="form-control"
          />
        </div>
        </div>
  
        <div class="m-3 col-sm-12">
          <button type="submit" class="btn btn-lg">Guardar</button>
          <button
            type="button"
            routerLink="/"
            class="btn btn-lg"
          >
            Cancelar
          </button>
        </div>
    </form>
  </div>

  