<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row form-container">
        <!-- inicio col -->
        <div class="col-sm-12 cont">
          <!-- institucion -->
        <div class="form-group">
          <label>Institucion</label>
          <input
            type="text"
            formControlName="institucion"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['institucion'].errors }"
          />
          <div *ngIf="submitted && f['institucion'].errors" class="invalid-feedback">
            <div *ngIf="f['institucion'].errors['required']">Este campo es obligatorio</div>
          </div>
        </div>
        <!-- titulo -->
  
        <div class="form-group">
          <label>Titulo</label>
          <input
            type="text"
            formControlName="titulo"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['titulo'].errors }"
          />
          <div *ngIf="submitted && f['titulo'].errors" class="invalid-feedback">
            <div *ngIf="f['titulo'].errors['required']">Este campo es obligatorio</div>
          </div>
        </div>

        </div>
        <!-- fin col -->

        <!-- inicio col -->
        <div class="col-sm-12 cont">
          <!-- fecha de inicio -->
        <div class="form-group">
          <label>Fecha de inicio</label>
          <input
            type="date"
            formControlName="fechaInicio"
            class="form-control"
          />
        </div>
        <!-- fecha de fin -->
        <div class="form-group">
          <label>Fecha de finalización</label>
          <input
            type="date"
            formControlName="fechaFin"
            class="form-control"
          />
        </div>
        </div>
        <!-- fin col -->
      </div>
  
        <div class="botones">
          <button type="submit" class="btn">Guardar</button>
          <button
            type="button"
            routerLink="/"
            class="btn"
          >
            Cancelar
          </button>
        </div>
    </form>
  </div>

  