<div class="submit-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Institucion</label>
        <input
          type="text"
          formControlName="institucion"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['institucion'].errors }"
        />
        <div *ngIf="submitted && f['institucion'].errors" class="invalid-feedback">
          <div *ngIf="f['institucion'].errors['required']">Este campo es obligatorio</div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Titulo</label>
        <input
          type="text"
          formControlName="titulo"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['titulo'].errors }"
        />
        <div *ngIf="submitted && f['titulo'].errors" class="invalid-feedback">
          <div *ngIf="f['titulo'].errors['required']">Este campo es obligatorio</div>
        </div>
      </div>

      <div class="form-group">
        <label>Fecha de inicio</label>
        <input
          type="date"
          formControlName="fechaInicio"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label>Fecha de finalización</label>
        <input
          type="date"
          formControlName="fechaFin"
          class="form-control"
        />
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button
          type="button"
          (click)="onReset()"
          class="btn btn-warning float-right"
        >
          Resetear
        </button>
      </div>
    </form>
  </div>

  