<div class="rounded-top text-white d-flex flex-row" style="height:200px;">
    <img class="img-fluid" src="../../../assets/img/{{usuario.imgPortada}}" alt="">
    
  </div>
  <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
    <img src="../../../assets/img/{{usuario.imgPerfil}}"
      alt="Generic placeholder image" class="img-fluid img-thumbnail mt-5 mb-2"
      style="width: 150px; z-index: 1">
  </div>
  <div class="ms-3" style="margin-top: 130px;">
    <h5>{{usuario.nombre + usuario.apellido}}</h5>
    <p>{{usuario.titulo}}</p>
  </div>      
