.portada {
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    height:400px;
}


.perfil-foto {
    margin-left: 50px;
    margin-top: 300px;
    width: 200px; 
    height: 200px;
    z-index: 1;
    position: relative;
    display: inline-grid;
}

.infoPersonal {
    margin-left: 50px;
    margin-top: 60px;
    width: 200px;
    text-align: center;
}

.white-icon{
    color: #FFFBEB;
}

.contenedor{
    display: grid;
    grid-template-rows: 1fr auto;
}


.foto{
    width: 200px;
    border-radius: 100%;
}

.info{
    display: grid;
    grid-template-columns: 0.35fr 1fr;
}

.nombre{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
}

.cuadro{
    background-color: #f8f9fa;
    height: 200px;
    border-radius: 10px;
}

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 800px;
}

.acerca h3{
    display: flex;
    justify-content: space-between;
}
/* 
.editar-foto{
    border-radius: 100%;
    position: absolute; 
    left: 50px; 
    bottom: 45px; 
    height: 100px; 
    width: 100px; 
    background-color: #495579;
} */



.hover-profile{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    /* height: 100px; */
    width: 200px;
    height: 200px;
    border-radius: 100%;
    /* border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
/* When you mouse over the container, fade in the overlay title */
.hover-profile:hover {
    opacity: 1;
}

.icon-edit{
    width: 100px;
}

.hover-portada{
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* When you mouse over the container, fade in the overlay title */
.hover-portada:hover {
    opacity: 1;
}

.btn-profile{
    margin-top: 15px;
}

.btn-portada{
    position: absolute;
    top: 450px;
    right: 0;
    margin-right: 15px;
}

.profile-header {
    position: relative;
    overflow: hidden;
    height: 400px;
}

.profile-header .profile-header-cover {
    background-image: url(https://bootdey.com/img/Content/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.profile-header .profile-header-cover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .75) 100%)
}

.profile-header .profile-header-content {
    color: #fff;
    padding: 25px
}

.profile-header-img {
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin: 0 0;
    border-radius: 100%;
    display: flex;
}

.profile-header-img img {
    max-width: 100%
}

.profile-header-info h4 {
    font-weight: 500;
    color: #fff
}

.profile-header-img+.profile-header-info {
    margin-left: 240px;
    margin-top: 80px;
}

.profile-header .profile-header-content,
.profile-header .profile-header-tab {
    position: absolute;
    bottom: 0;
}
