<div class="px-4 py-3 ">
  <h2 class="p-3" style="display: flex; justify-content: center;" >About me</h2>
  <div class="cuadro">
      <div class="p-4">      
        <h4>{{usuario.info}}</h4>
      </div>  
      <div class="social-media-banner">
        <a href="{{usuario.github}}">
          <span>GitHub</span>
          <img src="../../../assets/img/icon-github.svg" alt="">          
        </a>
        <a href="{{usuario.linkedin}}">
          <span>LinkedIn</span>
          <img src="../../../assets/img/icon-linkedin.svg" alt="">          
        </a>
      </div> 
  </div>
     
</div>
