h2 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: -10px;
}

.contenedor{
    display: grid;
    /* grid-template-rows: auto; */
    gap: 20px;
    padding: 10px;
    /* margin: 0 100px 50px 100px; */
}

.btn {
	border: 1px solid #495579;
    background-color: #495579;
	border-radius: 20px;
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
    margin-right: 10px;
	transition: transform 80ms ease-in;
}


.btn:active {
    transform: scale(0.95);
}

.btn:hover {
    background-color: #263159;
	outline: none;
}