<div class="submit-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Nombre</label>
        <input
          type="text"
          formControlName="nombre"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['nombre'].errors }"
        />
        <div *ngIf="submitted && f['nombre'].errors" class="invalid-feedback">
          <div *ngIf="f['nombre'].errors['required']">Este campo es obligatorio</div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Porcentaje</label>
        <input
          type="number"
          formControlName="porcentaje"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['porcentaje'].errors }"
        />
        <div *ngIf="submitted && f['porcentaje'].errors" class="invalid-feedback">
          <div *ngIf="f['porcentaje'].errors['required']">Este campo es obligatorio</div>
        </div>
      </div>

      
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button
          type="button"
          (click)="onReset()"
          class="btn btn-warning float-right"
        >
          Resetear
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="!addMode">
   <!-- cambiar foto de Skill -->
  <div class="perfil-foto">
    <label for="proyecto-img">
      <img class="img-skill" src="{{this.imgSkill}}" alt="">
      <div class="hover-profile">
        <img class="icon-edit" src="../../../assets/img/icon-edit.svg" alt="">
      </div>
    </label>
  </div>
  
  <input
    id="proyecto-img"
    style="display: none;"
    type="file"
    class="form-control"
    (change)="uploadImageSkill($event)"
    accept=".jpg, .png, .jpeg, .svg"
  />

  <button type="button" (click)="updateImage()">Guardar foto</button>
  </div>