<!-- <div class="card">
    <h2>{{proyecto.nombre}}
        <div *ngIf="isLogged">
            <fa-icon class="icono p-2" [icon]="faPenToSquare" routerLink="/proyecto/{{proyecto.id}}"></fa-icon>
            <fa-icon class="icono p-2" [icon]="faWindowClose" (click)="onDelete(proyecto)"></fa-icon>
        </div>
    </h2>        
    <p>{{proyecto.descripcion}}</p>
    <a href={{proyecto.link}}>Link git hub</a>
</div> -->

<div class="card">
    <img class="card-img-top" src="{{proyecto.img}}" alt="Card image cap">
    
    <div class="card-body">
      <h5 class="card-title">{{proyecto.nombre}}</h5>
      <p class="card-text">{{proyecto.descripcion}}</p>
    </div>
    <div class="card-footer links">
      <a href="{{proyecto.demo}}" class="card-link underline">Ver demo</a>
      <a href="{{proyecto.repo}}" class="card-link underline">Git Hub</a>
    </div>
    <div class="overlay iconos" *ngIf="isLogged">
        <fa-icon class="icono p-2" [icon]="faPenToSquare" routerLink="/proyecto/{{proyecto.id}}"></fa-icon>
        <fa-icon class="icono p-2" [icon]="faWindowClose" (click)="onDelete(proyecto)"></fa-icon>
    </div>
  </div>
  