/* You can add global styles to this file, and also import other style files */
hr {
    height: 10px;
    background-color: #251749;
    border-color: #251749;
    margin: 0;
  }

fa-icon{
    cursor: pointer;
    color: #263159;
}

.icono:hover{
    color: #495579;
}