/* You can add global styles to this file, and also import other style files */
hr {
    height: 10px;
    background-color: #251749;
    border-color: #251749;
    margin: 0;
  }

fa-icon{
    cursor: pointer;
}

/* .icono:hover{
    color: #495579;
} */

button{
    border: 1px solid #495579;
	background-color: #495579;
	color: #FFFFFF;
}

button:hover {
    background-color: #263159;
	outline: none;
}

