<div class="course">
    <div class="course-preview">
        <img *ngIf="item.img !== ''" src="{{item.img}}" alt="">
        <img *ngIf="item.img === ''" src="../../../assets/img/icon-code.svg" alt="">
    </div>
    <div class="course-info">
        
        <h2>{{item.nombre}}</h2>
        
        <div class="progress-container">
            <div class="progress-bar">
                <div class="progress-bar-fill" [ngStyle]="{'width.%': item.porcentaje}"></div>
            </div>
        </div>
        <div *ngIf="isLogged" class="botones">
            <button routerLink="/skill/{{item.id}}" class="btn">
                <img src="../../../assets/img/icon-edit.svg" alt="">
            </button>
            <button (click)="onDelete(item)" class="btn">
                <img src="../../../assets/img/icon-trash.svg" alt="">
            </button>
        </div>
        
    </div>
</div>

